<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>My index</title>
  <!-- vendorInject:css -->
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="font-awesome.css">
  <!-- endinject -->
</head>
<body ng-controller="Login">
<nav class="navbar navbar-default">
<div class="container">
  <button class="btn btn-alert navbar-btn" ui-sref="posts">My Posts</button>
  <button class="btn btn-warning navbar-btn" ui-sref="post">New Post</button>

  <button ng-show="isAuthenticated()" class="btn btn-link navbar-btn pull-right" ng-click="logout()">Logout</button>
  
</div>
</nav>
<div class="container">
    <div class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2">
        <div class="form-group">
          <button ng-hide="isAuthenticated()" class="btn btn-primary" ng-click="login()">Login</button> 
        </div>
  	   
        
        <div ui-view></div>
    </div>
</div>
  <!-- vendorInject:js -->
  <script src="vendor/angular.js"></script>
  <script src="vendor/satellizer.js"></script>
  <script src="vendor/ui-bootstrap-tpls.js"></script>
  <script src="vendor/angular-ui-router.js"></script>
  <!-- endinject -->

  <!-- inject:js -->
  <script src="app.js"></script>
  <script src="login.js"></script>
  <script src="myposts.js"></script>
  <script src="post.js"></script>
  <!-- endinject -->
</body>
</html>