<div class="well clearfix">
  <div class="form-group">
    <textarea rows=4 placeholder="Tweet Message" ng-model="message" class="form-control"></textarea> 
  </div>
  <p class="input-group">
    <input class="form-control" datepicker-popup ng-model="date" is-open="opened" min-date="minDate">
    <span class="input-group-btn">
      <button class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
    </span>
  </p>
  <timepicker ng-model="time"></timepicker>
  <button ng-disabled="!date" class="btn btn-success pull-right"ng-click="save()">Save</button>	
  <button ng-show="isEditing" class="btn btn-danger pull-right" ng-click="delete()">Delete</button> 
</div>